*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: transparent;
}
a:hover {
 text-decoration: none;
}
/* header */
.box-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 66px;
    background: #044863;
    color: #fff;
  
}

.btn-search{
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.box-search .over:hover {
    opacity: .7;
}
/* menu */
/* .margin-t {
    padding: 0;
    
} */


.menu{
    width: auto;
    height: 100%;
    color: #fff;
    background: #2a2f33;
    text-decoration: none;
  
    /* padding: 15px 30px; */
    
}
.nav li {
    height: 100%;
   
}

.nav li:hover {
    background-color: #fb474a;
    cursor: pointer;
    text-decoration: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 40px;
    padding-bottom: 20px ;
    padding-left: 35px;
}
/* detail */
/* .detail-page .left-sidebar ul li {} */

.detail-page .left-sidebar ul {
    padding: 0;
    margin: 0;
}
.title-detail{
    padding-left: 35%;
}
.detail-page .left-sidebar ul li a {
    display: block;
    position: relative;
    color: #fff;
    background: #2a2f33;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .03);
}

.detail-page .left-sidebar ul li a:hover {
    text-decoration: none;
    background: #f98f04;
}

.detail-page .col-main-body {
    flex: 1 1 auto;
}

.title-body {
    font-size: 26px;
    position: relative;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 5px;
    display: inline-block;
}

.title-body::after {
    content: "";
    position: absolute;
    background: #e1493e;
    width: 100%;
    height: 2px;
    display: block;
}

.detail-page .col-main-body .title-detail {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.detail-page .col-main-body .text-content {
    padding: 40px 40px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.detail-page .col-main-body .text-content .link-text {
    color: #ff5c53;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.detail-page .col-main-body .text-content .link-text:hover {
    text-decoration: none;
}

.col-main-body .article-related-list .item-image-list .img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.item {
    position: relative;
}

.main-body {
    padding: 80px 80px 0 80px;
}

.item .inner-item:hover {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.item .item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    top: 105px;
    right: 0;
}

.item .item-viewed::after {
    border-right: 13px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.col-main-body .article-related-list .item-detail {
    padding-top: 25px;
}

.col-main-body .article-related-list .item-detail .card-title {
    font-weight: 700;
    color: #2d2d2d;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 20px;
}

.col-main-body .article-related-list .item-detail .card-text {
    color: #777;
    font-size: 14px;
    margin: 0;
}
.col-main-body .article-related-list .info-footer {
    padding: 5px 20px 15px;
}

.col-main-body .article-related-list .info-footer .text-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #777;
    padding-right: 5px;
}

.col-main-body .article-related-list .info-footer .text-left img {
    background: #c4c4c4;
    display: inline-block;
    vertical-align: sub;
    height: 17px;
    margin-right: 2px;
    position: relative;
}

.col-main-body .article-related-list .info-footer .text-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #777;
    padding-right: 5px;
}

.detail-page .col-main-body .content-detail .img-content .item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    right: 0;
}

.btn-view-all{
    margin-left: 20%;
    color: #fff;
    background-color: #0fb3f3;
    font-weight: 420px;
    text-align: center;
    padding: 2px;
    font-size: .875rem;
    line-height: 2;
    width: 103px;
    height: 35px;
}
/* right */
.col-right-sidebar .card-body {
    background: #ffffff;
}

.col-right-sidebar {
    padding-left: 25px;
    padding-right: 25px;
}

.fa-eye {
    margin-right: 5px;
}

.title-sidebar {
    font-size: 13px;
    color: #ffffff;
}

.col-right-sidebar .card-body ul li {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -25px;
}

.col-right-sidebar .card-body ul li .inner-item .item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    right: 5px;
    top: 0;
}

.col-right-sidebar .card-body .inner-item {
    position: relative;
    padding-right: 20px;
    padding-left: 0;
}

.col-right-sidebar .card-body .inner-item img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 13px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.col-right-sidebar .card-body ul li .inner-item .item-viewed::after {
    border-right: 15px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.col-right-sidebar .card-body ul li .inner-item .card-overlay {
    padding: 11px 10px 6px!important;
    background: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(59, 59, 60, .4) 82%, hsla(0, 0%, 98.4%, .1));
    margin-left: 34px;
}

.card-img-overlay {
    position: relative;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .tittle-footer {
    text-transform: uppercase;
    text-align: center;
}

.footer {
    background: #fff;
    color: #222;
    border-top: 1px solid #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0;
    margin-top: 45px;
    width: 100%;
    
}

.footer .privacy {
    padding-left: 15px;
    text-align: left;
    color: black;
    text-decoration: none;
}